

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 1em;
  background-color: black;
  background-size: cover;
  border-radius: 10%;
}

img {
  max-width: 70%;
  margin-top: 10%;
  margin-left:10%;
  margin-right: 10%;
}

.text {
  text-align: center;
  color: green
}