.detail {
    color: rgb(61, 228, 11);
    text-align: center;
    font-size: 25px;
    box-shadow: 2px 2px 4px black;
  }

  .button{
    background-color: rgb(61, 228, 11);
    size:2em;
    font-family: 'Courier New', Courier, monospace;
    font-size: 70%;
    font-weight: bold;
  }