.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:5em;
    color:rgb(61, 228, 11);
    border-radius: 1em;
    padding: 0,5em;
    background-color: black;
    margin-left: 3em;
    margin-right: 3em;
    margin: center;
   }